/* Custom CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}